body{
	background-color: #ffffff;
	padding-bottom: 20px;
	color: #030301;
	font-size: 16px;
}
.game_header{
	background: #E91E63;
	position: relative;
}

.button_back{
	float: left;
	margin-top: 10px;
	margin-left: -5px;
	color: #ffffff;
	background: transparent none;
	border: 0 none;
}

.button_back .material-icons{
	font-size: 30px;
}

.game_title{
	margin-top: 0;
	margin-left: -15px;
}

.game_icon{
	color: #E91E63;
	float: left;
	margin-right: 7px;
	position: relative;
	top: -5px;
	font-size: 35px;
}

.game_info_h{
	margin-top: 0px;
}

hr{
	background-color: #BDBDBD;
	margin: 30px 0 35px 0;
}

.tab_item{
	display: block;
	cursor: pointer;
	color: rgba(255,255,255,0.6);
	padding: 15px 0 11px;
}
.tab_item_selected{
	border-bottom: 4px solid #00d9c0;
}

.tab_item_selected,
.tab_item:hover{
	color: #fffff3;
}
